div.hero {
  background: #27736e;
  padding: 30px 0;
}

div.hero h1 {
  color: white;
}

div.contain-to-grid,
nav.top-bar {
  background: #27736e;
}

div.dark-area {
  background: #dddddd;
}

div.light-area,
div.panel {
  background: #f0f0f0;
}

div.panel,
img.thumbnail {
  border: solid 1px #bbb;
}
