<h3>About Me</h3>

<p>I'm Josh, and I go by <a href="https://twitter.com/CodingItWrong">@CodingItWrong</a> on Twitter. I like writing software, sometimes too much. I prefer simple, high-productivity frameworks like <a href="http://laravel.com">Laravel</a>, <a href="http://rubyonrails.org">Rails</a>, and <a href="http://backbonejs.org">Backbone.js</a>. I work for <a href="https://twitter.com/npmweb">@npmweb</a> (no, not <a href="http://npmjs.org">that NPM</a>) and do a little work on the side under my freelance company, NeedBee.</p>

<h3>GitHub Accounts</h3>

<ul>
	<li><a href="https://github.com/needbee">NeedBee</a>: mine, mostly Cocoa</li>
	<li><a href="https://github.com/npmweb">NpmWeb</a>: my employer, mostly PHP and Laravel</li>
</ul>

<h3>Pages</h3>

<ul>
	<li><a href="https://webbrain.com/brainpage/brain/D0A8E45E-D23F-DB35-1D6C-9593F7A22E44/parent/com.thebrain.webbrain.pages.clientsupport.BrainFullPage#-48">Software Engineering</a>: a mind map of resources</li>
</ul>

<h3>Recent Posts</h3>

<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
