<!DOCTYPE html>
<html lang="en">
  <head>
    {% include headtag.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="container">
      <div class="row">
        <div class="medium-8 columns">
          <h1>{{ page.title }}</h1>
          <p class="muted">{{ page.date | date_to_long_string }}</p>
          <div>
            {% for category in page.categories %}
              <a href="/{{ category }}/"><span class="label">{{ site.data.categories[category].name }}</span></a>
            {% endfor %}
          </div>
          {{ content }}
          {% if page.previous.url %}
            <a href="{{page.previous.url}}" class="button small" title="Previous Post:
  {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
          {% endif %} 
          {% if page.next.url %}
            <a href="{{page.next.url}}" class="button small" title="Next Post:
  {{page.next.title}}">{{page.next.title}} &raquo; </a>
          {% endif %}
        </div>
        <div class="medium-4 columns">
            {% include sidebar.html %}
        </div>
      </div>
    </div>
  </body>
</html>